@model IEnumerable<ButtonGrid.Models.ButtonModel>


<style>
    .game-button {
        width:120px;
        text-align:center;
        border: none;
    }
    .button-zone {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }
    .line-break {
        height:0;
        flex-basis:100%
    }

    .button-label {
        font-size:8px;
        text-align:center;
    }

    .game-button-image {
        width:70%
    }
</style>

@{
    string[] imageNames = { "button_green.png", "button_blue.png", "button_yellow.png", "button_red.png" };
}
<form>
    <div class="button-zone">
        @for (int i = 0; i < Model.Count(); i++ )
        {
            if(i % 5 ==  0)
            {
                <div class="line-break"></div>
            }

            <button class="game-button" name="buttonNumber" value="@Model.ElementAt(i).Id" type="submit" asp-controller="button" asp-action="HandleButtonClick">  
                <img class="game-button-image" src="~/img/@imageNames[Model.ElementAt(i).ButtonState]" />

                <div class="button-label">
                    @Model.ElementAt(i).Id, @Model.ElementAt(i).ButtonState
                </div>
            </button>
        }
    </div>
</form>