@model IEnumerable<ButtonGrid.Models.ButtonModel>

@{
    string[] imageNames = { "button_green.png", "button_blue.png", "button_yellow.png", "button_red.png" };
}
<form>
    <div class="button-zone">
        @for (int i = 0; i < Model.Count(); i++ )
        {
            if(i % 5 ==  0)
            {
                <div class="line-break"></div>
            }
            <div class="oneButton" id="@i">
                <button class="game-button" name="buttonNumber" value="@Model.ElementAt(i).Id" type="submit" asp-controller="button" asp-action="HandleButtonClick">  
                    <img class="game-button-image" src="~/img/@imageNames[Model.ElementAt(i).ButtonState]" />

                    <div class="button-label">
                        @Model.ElementAt(i).Id, @Model.ElementAt(i).ButtonState
                    </div>
                </button>
            </div>
        }
    </div>
</form>

<div id="messageArea">
    <p>Not all buttons are the same color. See if you can make them all match.</p>
</div>