@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This privacy policy will help you understand how Button Game uses and protects the data you provide to us when you visit and use Button Game site.
</p>
<p>
    We reserve the right to change this policy at any given time, of which you will be promptly updated. If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page.
</p>
