html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#allMatch {
    text-align:center;
    padding:15px;
    margin-top:5px;
}

.game-button {
    width: 120px;
    text-align: center;
    border: none;
    background: none;
}

.button-zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.line-break {
    height: 0;
    flex-basis: 100%
}

.button-label {
    font-size: 8px;
    text-align: center;
}

.game-button-image {
    width: 70%
}